In [2]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [5]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [37]:
df = pd.DataFrame(purchase_data)

In [38]:
# Getting total count of players

In [73]:
player_count = purchase_data["SN"].nunique()

In [74]:
print(player_count)

576

In [75]:
player_count = pd.DataFrame(
    {
        "Player Count" : [576]
    }
)

In [76]:
print(player_count)

   Player Count
0           576

In [44]:
# Count number of unique item

In [ ]:
item_count = purchase_data["Item ID"].nunique()

In [50]:
print(item_count)

179

In [45]:
# Getting total Revenue

In [46]:
total_revenue = df['Price'].sum()

In [47]:
print(total_revenue)

2379.77

In [48]:
average_price = total_revenue / 780

In [49]:
print(average_price)

3.0509871794871795

In [64]:
purchase_analysis = {
    "Number of Unique Items" : [179],
    "Average Price" : [3.05],
    "Number of Purchases" : [780],
    "Total Revenue" : [2379.77]
}

In [60]:
print(purchase_analysis)

{'Number of Unique Items': [179.0], 'Average Price': [3.05], 'Number of Purchases': [780.0], 'Total Revenue': [2, 379.77]}

In [65]:
summary_df = pd.DataFrame(purchase_analysis)

In [66]:
print(summary_df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [ ]:
# Counting the total amount of male and female

In [69]:
# To get the unique number of players(SN), remove duplicates
sn_unique = purchase_data.drop_duplicates(subset = "SN")

# Count unique number of male, female and other players
gender_count = sn_unique["Gender"].value_counts()

# Caluculate percentage of male, female and other player
gender_percentage = gender_count / sn_unique["Gender"].count() * 100

In [70]:
print(gender_count)

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [ ]:
#Creating gender demographics

In [85]:
gender_demographics = {
    "Total Count": [484,81,11],
    "Percentage of Players": [84.03,14.06,1.91]
}

In [90]:
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{0:.2f}%".format)

In [92]:
print(gender_df)

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [93]:
# Purchassing Analysis

In [97]:
# Count number of purchases by gender (use purchase_data df to calculate whole data)
purchase_count_gender = purchase_data.groupby("Gender")["Item Name"].count()

# Caluculate average price spent by gender
average_price_gender = purchase_data.groupby("Gender")["Price"].mean()

# Caluculate total price spent by gender
total_price_gender = purchase_data.groupby("Gender")["Price"].sum()

# Caluculate aveage price spent by person (use gender_count to get unique SN ID)
average_total_gender = total_revenue / gender_count

In [98]:
# Create a summary
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count_gender,
                                    "Average Purchase Price" : average_price_gender,
                                    "Total Purchase Value": total_price_gender,
                                    "Avg Total Purchase per Person" : average_total_gender})
# Change format to currency
purchase_summary_df[["Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]] \
= purchase_summary_df[["Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]] \
.applymap("${:.2f}".format)

# Show the summary
purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$29.38
Male,652,$3.02,$1967.64,$4.92
Other / Non-Disclosed,15,$3.35,$50.19,$216.34

In [99]:
#Age demographics

In [100]:
bins = [0,9,14,19,24,29,34,39,100]
age_group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the existing players using the age bins. 
sn_unique["Age Range"] = pd.cut(sn_unique["Age"], bins, labels = age_group)
# Count # of purchase by age
purchase_count_age = sn_unique["Age Range"].value_counts()

# Caluculate percent of players by age
percentage_player_age = (purchase_count_age / sn_unique["SN"].count()) * 100
# Create age summary
age_summary_df = pd.DataFrame({"Total Count" : purchase_count_age,
                               "Percentage of Players" : percentage_player_age})

# Sort by index 
age_summary_df = age_summary_df.sort_index()

# Change the format to percentage
age_summary_df["Percentage of Players"] = age_summary_df["Percentage of Players"].map("{:.2f}%".format)

# Show the summary
age_summary_df

<ipython-input-100-1647ba1a2543>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sn_unique["Age Range"] = pd.cut(sn_unique["Age"], bins, labels = age_group)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [101]:
# Creating  purchasing analysis (Age)

In [102]:
# Categorize the existing players using the age bins. 
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels = age_group)
purchase_age_count = purchase_data["Age Ranges"].value_counts()

# Calculate average purchase price by age
average_price = purchase_data.groupby("Age Ranges")["Price"].mean()

# Calculate total purchase value by age
total_purchase_age = purchase_data.groupby("Age Ranges")["Price"].sum()

# Calculate average total purchase per person
average_purchase_age = total_purchase_age / purchase_count_age
# Create summary
purchase_summary_age = pd.DataFrame({"Purchase Count" : purchase_age_count,
                                     "Average Purchase Price" : average_price,
                                     "Total Purchase Value" : total_purchase_age,
                                     "Avg Total Purchase per Person" : average_purchase_age})


# Change the format to currency
purchase_summary_age[["Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]] \
= purchase_summary_age[["Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]] \
.applymap("${:.2f}".format) 

# Rename the axis to show data label "Age Ranges"
purchase_summary_age = purchase_summary_age.rename_axis("Age Ranges")

# Display the summary 
purchase_summary_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [103]:
# Creating top spenders

In [104]:
# Count the purchase count(frequency) by user
purchase_count_user = purchase_data.groupby("SN")["Price"].count()

# Caluculate average price spent by user
purchase_price_user = purchase_data.groupby("SN")["Price"].mean()

# Calculate total price spent by user
total_purchase_user = purchase_data.groupby("SN")["Price"].sum()

# Create a summary
user_summary = pd.DataFrame({"Purchase Count" : purchase_count_user,
                             "Average Purchase Price": purchase_price_user,
                             "Total Purchase Value": total_purchase_user})

# Sort by total purchase value
user_summary = user_summary.sort_values(by = "Total Purchase Value",ascending = False)

# Change the format to currency
user_summary[["Average Purchase Price","Total Purchase Value"]] \
= user_summary[["Average Purchase Price","Total Purchase Value"]].applymap("${:.2f}".format)

# Display the summary
user_summary.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [105]:
# Creating most popular items

In [106]:
# Retrieve the most popular items by item ID count
most_purchased_item = purchase_data.groupby(["Item ID","Item Name"])["Price"].count()

# Retrive the total sales amount by item ID and Item Name
popular_item = purchase_data.groupby(["Item ID","Item Name"])["Price"].sum()

# Retrive the item price
item_price = popular_item / most_purchased_item
# Create a summary
item_summary = pd.DataFrame({"Purchase Count": most_purchased_item,
                             "Item Price" : item_price,
                             "Total Purchase Value": popular_item})

# Sort by purchase count
item_summary = item_summary.sort_values("Purchase Count", ascending = False)

# Sort by total purchase value (do this before changing the format to currency to avoid changing types to string)
highest_purchase_value = item_summary.sort_values("Total Purchase Value", ascending = False)

# Change the format to currency
item_summary[["Item Price", "Total Purchase Value"]] \
= item_summary[["Item Price", "Total Purchase Value"]].applymap("${:.2f}".format)

# Display the summary
item_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [107]:
# Creating most profitable items

In [108]:
# Change the format to currency
highest_purchase_value[["Item Price", "Total Purchase Value"]] \
= highest_purchase_value[["Item Price", "Total Purchase Value"]].applymap("${:.2f}".format)

# Show the result
highest_purchase_value.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80